<div ng-controller="ChatCtrl">
	<div class="row-fluid">
		<div class="offset2 actions">
			<button class="btn btn-danger" ng-click="clearMessages()">Clear</button>
			<button class="btn btn-primary" ng-click="refreshMessages()">Refresh</button>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 offset2 alert alert-info" id="chatBox" scroll-down="chatBox" style="overflow:auto;height:400px;">
			<div class="row-fluid" ng-repeat="message in messages">
				<div class="span8">
			      {{message.content}}
				</div>
				<div class="span4 text-left">
			      <div class="pull-right">{{message.created_ago}}</div>
				</div>
			</div>
		</div>
	</div>
	<form name="addMessageForm" ng-submit="addMessage()" novalidate>
		<div class="row-fluid control-group" ng:class="{error:addMessageForm.newMessage.$dirty && addMessageForm.nickname.$error.required}">
			<div class="span3 offset2">
				<input type="text" placeholder="Your nickname" class="span3" name="nickname" ng-model="nickname" required></input>
			</div>
			<div class="span3 help-chat">
				<div class="help-inline" ng-show="addMessageForm.newMessage.$dirty && addMessageForm.nickname.$error.required">Required</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 offset2">
				<input type="text" rows="2" placeholder="Type your message here ..." class="span6" name="newMessage" ng-model="newMessage.content" required></input>
			</div>
			<div class="span2">
				<button class="btn btn-primary btn-large nhm" type="submit" ng-disabled="addMessageForm.newMessage.$error.required || addMessageForm.nickname.$error.required"><i class="fui-mail"></i>Send</button>
			</div>
		</div>
	</form>
</div>